<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label  position="floating">Correo :</ion-label>
    <!--Binding ngmodel su funcion es asignar valor a la variable desde el input -->
    <ion-input  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Contraseña :</ion-label>
    <!--Binding ngmodel su funcion es asignar valor a la variable desde el input -->
    <ion-input  ></ion-input>
  </ion-item>
  <!--(click)="this.GuardarArticulo()"-->
  <!--Router link es el que navega por las vistas-->
  <ion-button expand="block" fill="outline" routerLink="/menu">Login</ion-button>
</ion-content>
